#root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  max-width: 420px;
  margin: 0 auto;
  padding: 1.5rem;
  font-size: 1.5rem;
  border: 1px solid black;
}

h1 {
  font-size: 1.5rem;
}

ul {
  line-height: 3rem;
}

a {
  text-decoration: none;
  color: rgb(71, 71, 222);
}

button {
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: rgb(132, 163, 198);
  border: 1px solid black;
}
